
@keyframes moon {
    0% { 
      box-shadow: -150px 0px 0px 0px white; 
      transform: rotate(-10deg);
    }
    50%{ 
      box-shadow: 0px 0px 0px 0px white;      
    }
    100% { 
      box-shadow: 150px 0px 0px 0px white;
      transform: rotate(10deg);
    }
    z-index: -1;
    position:relative;
}

html {
	z-index: -1;
	position:relative;
 background-image: linear-gradient(black 60%, #041931);
 height: 100%;
}
body {
	font-family: 'Manrope', sans-serif;
}

title {
	font-color: white;
	z-index:-1;
	position:relative;
}

#text {
	z-index: 1;
	position: relative;
}
.moon {
	z-index: -1;
	position: relative;
  width: 10rem;
  height: 10rem;
  background: #0a0a0a;
  margin: 1rem auto;
  animation: moon 20s linear infinite;
  border-radius: 50%;
  box-shadow: inset -10rem 0 whitesmoke;
  transform: rotate(-10deg);
}